{% extends 'base_template/base.html' %}

{% block content %}
    <div class="row">
        <a href="{% url 'base:category_create' %}" class="btn btn-primary"><i class="fas fa-plus-square"></i> Nueva categoría</a>
    </div>

    <br>
    <div class="row">
        <form action="" class="form-inline">
            <input type="text" class="form-control" name="search" value="{{ search }}">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </form>
    </div>

    <br>
    <div class="row">
        <table class="table table-striped" id="example" cellspacing="0" width="100%">
            <thead class="text-primary">
                <th>#</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>
                            <a href="{% url 'base:book_list' category.pk %}" class="btn btn-primary" title="Ver libros"><i class="fas fa-book"></i></a>
                            <a href="{% url 'base:category_update' category.id %}" class="btn btn-warning" title="Editar categoría"><i class="fas fa-edit"></i></a>
                            <a href="{% url 'base:category_delete' category.id %}" class="btn btn-danger" title="Eliminar categoría"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="row">
            <div class="col-lg-6 col-md-offset-3">
                <!-- Pager -->
                <div class="text-center">
                    <nav>
                        <ul class="pagination">
                            {% if categories.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ categories.previous_page_number }}">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                            {% endif %}
    
                            {% if categories.number|add:'-4' > 1 %}
                                <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ categories.number|add:'-5' }}">&hellip;</a></li>
                            {% endif %}
    
                            {% for i in categories.paginator.page_range %}
                                {% if categories.number == i %}
                                    <li class="active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% elif i > categories.number|add:'-5' and i < categories.number|add:'5'  %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
    
                            {% if categories.paginator.num_pages > categories.number|add:'4' %}
                                <li class="page-item"><a class="page-link" href="?page={{ categories.number|add:'5' }}">&hellip;</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ categories.paginator.count }}">{{ categories.paginator.count }}</a></li>
                            {% endif %}
    
                            {% if categories.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ categories.next_page_number }}">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Previous</span>   
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>


{% endblock %}