{% extends 'base_template/base.html' %}

{% block content %}
    <div class="row">
        {% comment %} scraper {% endcomment %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Ejecutar scraper</h5>
                    <a href="{% url 'scraper:scraping_create' %}" class="btn btn-default"><i class="fas fa-cloud-download-alt"></i> Scraper</a>
                </div>
            </div>
        </div>

        {% comment %} categorias {% endcomment %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Ver mis categorías</h5>
                    <a href="{% url 'base:category_list' %}" class="btn btn-default"><i class="fas fa-list-ul"></i> Categorías</a>
                </div>
            </div>
        </div>

        {% comment %} libros {% endcomment %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Ver mis Libros</h5>
                    <a href="{% url 'base:book_list' 0 %}" class="btn btn-default"><i class="fas fa-book"></i> Libros</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
